head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Welcome to Valoria
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='index.css')
  script(src="scripts/jquery.js")
  script(src="scripts/ethers.js")
  script(src="scripts/moment.js")
  script(src="scripts/aframe.min.js")
  script(src="scripts/webrtc_adapter.js")
  script(src="scripts/valoria.js")
body

  h2.valoriaSecondHeader.hideScrollbar

  .valoriaAuth
    h1.valoriaHeader Valoria
    input.valoriaUsernameInput(placeholder="username")
    input.valoriaPasswordInput(placeholder="password" type="password")
    .valoriaAuthSubmit="JOIN WITH USERNAME & PASSWORD"
    .valoriaJoinWithWeb3Wallet
      | JOIN WITH WEB3

  .valoriaChat
    .chatSidebar
      .chatOnline
        .chatOnlineLabel ONLINE
        .chatOnlineList
      .chatContacts

    .chatMain
      h1.valoriaHeader Valoria
      .chatNav
        .chatName.hideScrollbar SELECT A PERSON TO CHAT WITH
        .chatVideoBtn VIDEO CHAT
      .chatMsgContainer
        .chatMsgContainerList
      .chatMsgForm
        input.chatMsgInput(placeholder="SEND A MESSAGE")
        .chatMsgInputSubmit SEND
    .chatVideos
      video.chatPeerVideo(controls autoplay playsinline)
      video.chatUserVideo(muted controls autoplay playsinline)

  //- .valoriaVR 
  //-   a-scene
  //-     <a-assets>
  //-       <a-asset-item id="woman" src="assets/valorian_assistant.glb"></a-asset-item>
  //-     </a-assets>
  //-     a-box(position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9")
  //-     a-sphere(position="0 1.25 -5" radius="1.25" color="#EF2D5E")
  //-     a-cylinder(position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D")
  //-     <a-gltf-model src="#woman" scale="0.001 0.001 0.001" rotation="-90 0 0" position="0 0 -1"></a-gltf-model>
  //-     a-plane(position="0 0 -4" rotation="-90 0 0" width="10" height="10" color="#7BC8A4")
  //-     a-sky(color="#ff74e3")


    

  


script(src='index.js')
