head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Welcome to Valoria
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='index.css')
  script(src="scripts/jquery.js")
  script(src="scripts/ethers.js")
  script(src="scripts/moment.js")
  script(src="scripts/webrtc_adapter.js")
  script(src="scripts/valoria.js")
body
  h1.valoriaHeader Valoria
  h2.valoriaSecondHeader.hideScrollbar
  .valoriaAuth
    input.valoriaUsernameInput(placeholder="username")
    input.valoriaPasswordInput(placeholder="password" type="password")
    .valoriaAuthSubmit="JOIN WITH USERNAME & PASSWORD"
    .valoriaJoinWithWeb3Wallet
      | JOIN WITH WEB3

  .valoriaChat
    .chatSidebar
      .chatOnline
        .chatOnlineLabel ONLINE
        .chatOnlineList
      .chatContacts

    .chatMain
      .chatNav
        .chatName.hideScrollbar SELECT A PERSON TO CHAT WITH
        .chatVideoBtn VIDEO CHAT
      .chatMsgContainer
        .chatMsgContainerList
      .chatMsgForm
        input.chatMsgInput(placeholder="SEND A MESSAGE")
        .chatMsgInputSubmit SEND
      .chatVideos
        video.chatPeerVideo(muted controls autoplay playsinline)
        video.chatUserVideo(muted controls autoplay playsinline)


    

  


script(src='index.js')
