body {
  width : 100%;
  height : 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hideScrollbar:{
  -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
  display : none;
}

.valoriaHeader {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 0px;
}

.valoriaSecondHeader {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  max-width: 250px;
  overflow-x: scroll;
}

.valoriaAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.valoriaUsernameInput {
  width : 90%;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  border : 3px solid black;
}

.valoriaPasswordInput {
  width : 90%;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  border : 3px solid black;
}

.valoriaAuthSubmit {
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border : 3px solid black;
  color : black;
  font-weight: bold;
  font-size: 16px;
  cursor : pointer;
  width: 90%;
  margin-bottom: 8px;
}

.valoriaJoinWithWeb3Wallet {
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border : 3px solid black;
  color : black;
  font-weight: bold;
  font-size: 16px;
  cursor : pointer;
  width : 90%;
}

.valoriaChat {
  display : none;
  width : 800px;
  height : 500px;
  flex-direction: row;
  border : 3px solid black;
  border-radius: 8px;;
  padding: 16px;
}

.chatSidebar {
  border-right : 3px solid black;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width : 200px;
}

.chatMain {
  width: 100%;
  padding : 8px;
  flex-direction: column;
}

.chatNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 3px solid black;;
}

.chatName {
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  font-weight: bold;
  margin: 8px;
  max-width: 300px;
  overflow-x: scroll;
}

.chatVideoBtn {
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border : 3px solid black;
  color : black;
  font-weight: bold;
  font-size: 16px;
  cursor : pointer;
  display: none;
}

.chatDelete:hover {
  border: 3px solid red;
  color : red;
}

.chatMsgContainer {
  display : flex;
  width : 100%;
  overflow-y: scroll;
  padding: 12px;
}

.chatMsgContainerList {
  width: 100%;
  height : 380px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatMsg {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.chatMsgUserAndTime{
  display: flex;
  margin-bottom: 4px;
}

.chatMsgUsername {
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  max-width: 225px;
  overflow-x: scroll;
  margin-right: 8px;
}

.chatMsgUsername:hover {
  text-decoration: underline;
}

.chatMsgTime {
  font-weight: normal;
  font-size: 14px;
  color: grey;
}

.chatMsgText {
  font-weight: normal;
  font-size: 14px;
}

.chatMsgForm {
  display: none;
  flex-direction: row;
  align-items: center;
  height: 32px;
  justify-content: center;
  padding: 8px;
  border-top: 3px solid black;;
}

.chatMsgInput {
  width : 100%;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  border : 3px solid black;
  margin-right: 8px;
}

.chatMsgInputSubmit {
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border : 3px solid black;
  color : black;
  font-weight: bold;
  font-size: 16px;
  cursor : pointer;
  width: 125px;
}

.chatOnline{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatOnlineLabel{
  font-weight: bold;
  font-size: 16px;;
}

.chatOnlineList{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatOnlineUser{
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  margin: 8px;
  max-width: 90%;
  overflow-x: scroll;
}

.chatOnlineUser:hover{
  text-decoration: underline;
}

.chatVideos{
  display: flex;
  flex-direction: column;
  width : 300px;
  position: absolute;
  top: 208px;
  right: 64px;
}


.chatUserVideo{
  width: 100%;
  height : 200px;
  background-color: black;
  transform: scaleX(-1);
}

.chatPeerVideo{
  width: 100%;
  height : 200px;
  background-color: black;
  transform: scaleX(-1);
  margin-bottom: 8px;
}









