head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Welcome to Valoria
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='index.css')
  script(src="scripts/jquery.js")
  script(src="scripts/ethers.js")
  script(src="scripts/valoria.js")
body
  h1.valoriaHeader Valoria
  .valoriaJoinWithWeb3Wallet
    | Join with your Web3 Wallet.
script(src='index.js')
